.table {
	display: flex;
}
.table:hover {
	box-shadow: 0 0 2rem #237288aa;
}
.square {
	height: 120px;
	width: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: solid 2px;
}

.square:hover {
	cursor: pointer;
}

@media (max-width: 867px) and (min-width: 668px) {
	.square {
		height: 90px;
		width: 90px;
	}
}

@media (max-width: 668px) {
	.square {
		height: 70px;
		width: 70px;
	}
}
