#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
}

h1 {
	margin-left: 20px;
	font-family: "dM sans", sans-serif;
}

.app-container {
	display: flex;
	margin: 20px;
}

.buttons-container {
	margin: 20px;
}
